<div class="container-fluid footer bg-dark">
    <div class="row text-center">
        <div class="col-12">
            <p class="footer-text"><a class="footer-git" href="https://github.com/f136pix/sistema-biblioteca">https://github.com/f136pix/sistema-biblioteca</a></p></div>
    </div>
</div>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>