    <body>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
            <a class="navbar-brand" href="#">.booker</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  justify-content-center d-flex flex-fill">
                    <li class="nav-item active">
                        <a class="nav-link home-nav" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home" href="#">Link two</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link three</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link four</a>
                    </li>
                </ul>
            </div>
        </nav>
      </div>
    
    