<%- include ('partials/head-auth') %>
<link rel="stylesheet" href="/css/dashboard.css">
</head>
<%- include ('partials/header-auth') %>
<div class="container main-container">
    <h1>Teste</h1>
</div>

<%- include ('partials/footer-auth') %>
