<%- include ('partials/head') %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/register.css">
</head>

<%- include ('partials/header') %>

<div class="container-form">
    <div class="form-container" id="login-form">
        <h1 class="text-light">Recuperar Senha</h1>
        <form method="post" action="/user/recuperar">
            <label for="email">Insira seu Email</label>
            <input type="text" id="username" name="email" required placeholder="Insira o email da sua conta">
            <div class="error-content text-danger"><p><%= error %></p></div>
            <button type="submit" class="text-dark">Enviar</button>
        </form>
        <p>Deseja entrar? <a href="/user/login" id="signup-link" class="text-sign-up">Faça Login</a></p>
    </div>
</div>


<%- include ('partials/footer') %>